
<ul class="list-group" *ngIf="loaded && logs.length>0">
    <li *ngFor="let log of logs" class="list-group-item" [class.list-group-item-secondary]="selectedLog === log">
        <div class="row">
            <div class="col-sm-5">
                <a href="#" (click)="onSelect(log)">{{log.text}}</a>
            </div>
            <div class="col-sm-5">
                <span class="log-date">{{log.date | date: 'short'}}</span>            
            </div>
            <div class="col-sm-auto ml-auto">
                <i class="fa fa-remove" (click)="onDelete(log)"></i>            
            </div>
        </div>        
    </li>
</ul>

<div *ngIf="loaded && logs.length == 0" class="text-center">
    <h5>There are no logs in the system</h5>
</div>

<div *ngIf="!loaded" class="text-center">
    <h5>Loading...</h5>
</div>