
<ul class="list-group">
    <li *ngFor="let log of logs" class="list-group-item">
        <div class="row">
            <div class="col-sm-5">
                <a href="#" (click)="onSelect(log)">{{log.text}}</a>
            </div>
            <div class="col-sm-5">
                <span class="log-date">{{log.date | date: 'short'}}</span>            
            </div>
            <div class="col-sm-auto ml-auto">
                <i class="fa fa-remove"></i>            
            </div>
        </div>        
    </li>
</ul>